<!DOCTYPE html>
<html>
  <head>
    <title>World Time Inspector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <style type="text/css">
      .comparator {
        margin: 6px 0px;
        padding: 12px;
        border: 1px solid #cacaca;
        border-radius: 10px;
      }
      .city {
        margin-top: 4px;
        padding: 5px 4px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f5f5f5;
        height: 36px;
      }
      .city span {
        font-size: 16px;
        font-weight: bold;
        color: blue;
        margin: 2px;
        float: left;
      }
      .city ul {
        float: right;
      }
      .city ul li {
        display: block;
        float: left;
        border: 1px solid #ccc;
        padding: 1px;
        width: 30px;
        text-align: center;
        margin: 0px 1px;
        font-size: 14px;
        border-radius: 2px;      
      }
    </style>
  </head>
  <body>
    <section class="section"><div class="container">
      <h1 class="title">World Time Inspector</h1>
      {% raw %}
      <div id="city_times">
        <v-select label="name" :options="options" @search="search" v-model="selected" placeholder="Search cities">
          <template slot="no-options">Enter the city name</template>
          <template slot="option" slot-scope="option">{{ option.name }}, {{ option.country }}</template>
          <template slot="selected-option" scope="option">{{ option.name }}, {{ option.country }}</template>
        </v-select>
        <div class="comparator">
          <div class="city" v-for="city in cities">
            <span>{{ city.name }}, {{ city.country }}: {{ city.timezone }}</span>
            <ul>
              <li v-for="hour in city.hours"><em>{{ hour }}</em></li>
            </ul>
          </div>
        </div>
      </div>
      {% endraw %}
    </div></section>
    <script src="/static/js/worldtimeinspector.js"></script>
  </body>
</html>
